:root {
  --color-white: white;
  --color-background: #f2ecff;
  --color-black: black;
  --color-blue: #0484c9;
  --color-gray: #4a4a4a;
  --color-violet: #5d50f2;
  --color-purple: #bd2298;
  --color-footer: #29303b;

  --form-color: rgb(0, 0, 0, 60%);

  --gradient-blue: linear-gradient(101deg, #0039e2 -31.49%, #527af2 106.89%);

  --transition: all 300ms ease;

  --container-width-lg: 96%;
  --container-width-md: 90%;

  --btn-raduis: 8px;
  --form-raduis: 12px 12px 0 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ====================================================== */
/*                        GENERAL                         */
/* ====================================================== */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
  background: var(--color-background);
  overflow: hidden;
}

.container {
  width: var(--container-width-lg);
  max-width: 1215.44672px;
  margin-inline: auto;
}
a {
  color: var(--color-black);
}

img {
  display: block;
  width: 100%;
}

label {
  color: var(--form-color);
}

input {
  width: 100%;
  border: 1px solid var(--form-color);
  padding: 1em;
  font-size: 14px;
  border-radius: var(--btn-raduis);
}
/* ====================================================== */
/*                  Start  General                        */
/* ====================================================== */

/* ====================================================== */
/*                  Start  Components                    */
/* ====================================================== */
.btn {
  display: inline-block;
  width: fit-content;
  border-radius: var(--btn-raduis);
  transition: var(--transition);
  border: 1px solid;
  text-align: center;
  cursor: pointer;
}

.showInMoblie {
  display: none;
}

.logo {
  width: 5.5rem;
}

.purpleGradient {
  border: none;
  background-color: var(--color-purple);
  color: var(--color-white);
  text-transform: capitalize;
  height: 3.25rem;
  width: 15rem;
  position: relative;
  padding-right: 3rem;
  padding-left: 1rem;
}
.purpleGradient i {
  font-size: 2rem;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.LearnMore {
  border: 1px solid var(--color-blue);
  border-radius: var(--btn-raduis);
  color: var(--color-blue);
  padding: 1em 3.5em 1em 2em;
  height: 3.25rem;
  width: fit-content;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  transition: var(--transition);
}
.LearnMore i {
  position: absolute;
  width: 2rem;
  font-size: 1.5rem;
  top: 0.75rem;
  right: 1rem;
  transform: rotate(45deg);
  display: grid;
  place-items: center;
}
.LearnMore:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.bigTitle h1 {
  color: var(--color-white);
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
}
.bigTitle h1 img {
  position: absolute;
  transform: rotate(-90deg);
  width: 4rem;
  top: -2.5rem;
  left: -4rem;
}
.h2title {
  margin: 0 0 1rem;
  color: var(--color-violet);
  text-transform: uppercase;
}
.ptitle {
  font-size: 1.25rem;
  max-width: 49.81rem;
  color: var(--color-gray);
  margin: 0 auto 4rem auto;
  line-height: 22.23px;
}
span.colorBlue {
  color: var(--color-blue);
}
/* ====================================================== */
/*                    End Components                      */
/* ====================================================== */
/* 
 *
 *
 *
 *
 *
 */
/* ====================================================== */
/*                    Start  header                       */
/* ====================================================== */

header {
  width: 100vw;
  height: 6.5rem;
  z-index: 100;
  background: var(--color-background);
}
header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav__items {
  display: flex;
  align-items: center;
  gap: 28px;
  width: fit-content;
}
#nav__items > li > a {
  transition: var(--transition);
  color: var(--color-gray);
  position: relative;
  display: flex;
  flex-direction: row;
  /* gap: 1.5rem; */
}
#nav__items > li > a i {
  color: var(--color-black);
  width: 20px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  transition: var(--transition);
  margin-right: 1.5rem;
}
/* #nav__items li a i.fa-caret-down {
  font-size: 1rem;
  margin-left: 0.5rem;
} */

#nav__items > li:hover > a {
  color: var(--color-blue);
}
#nav__items > li:hover > a i {
  color: var(--color-blue);
}

header .container .buttons .btn {
  text-transform: capitalize;
  font-weight: bold;
}

header .container .buttons .sign-in:hover {
  color: var(--color-blue);
}
#open__items-btn {
  display: none;
}
#certificateLink {
  display: none;
}

header .buttons {
  position: relative;
  z-index: 1000;
}
.certificateList {
  position: absolute;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  top: 150%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms ease;
}
.certificateList.active {
  max-height: 227px;
}

.certificateList li {
  text-transform: uppercase;
  padding-left: 3rem;
  position: relative;
  height: 37px;
  line-height: 37px;
  transition: var(--transition);
  cursor: pointer;
}
.certificateList li:hover {
  background-color: var(--color-purple);
}
.certificateList li:hover a {
  color: var(--color-white);
}
.certificateList li::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-purple);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}
.certificateList li:hover::before {
  background-color: var(--color-white);
}
/* ====================================================== */
/*                    End  header                         */
/* ====================================================== */
/* 
 *
 *
 *
 *
 *
 */
/* ====================================================== */
/*                    Start  Landing Page                 */
/* ====================================================== */
.landingPage {
  padding-top: 6.25rem;
  height: 45.125rem;
}
.landingPage .container {
  display: grid;
  grid-template-columns: 28.375rem 36.615rem;
  grid-template-rows: 17.25rem 4.25rem 7rem 3.25rem 20rem;
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.landingPage h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-blue);
  margin-top: 2rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  position: relative;
  line-height: 58.51px;
}
.landingPage h1 img {
  position: absolute;
  width: 4rem;
  top: -2rem;
  right: -1.5rem;
}
.landingPage h1 span {
  color: var(--color-purple);
}
.landingPage p {
  font-size: 1rem;
  color: var(--color-black);
  line-height: 28px;
}
.landingPage .btn a {
  color: var(--color-white);
  font-weight: bold;
  font-size: 1rem;
}
.landingPage button.btn {
  display: none;
}
.landingPage__images {
  grid-column: 2;
  grid-row: 1 / 5;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.landingPage__images img {
  width: 28.125rem;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--transition);
  /* border: 1px solid var(--color-black); */
  /* border-radius: var(--btn-raduis) var(--btn-raduis) 0 0; */
}
.landingPage__images img[data-number="1"] {
  z-index: 1;
}
.landingPage__images img[data-number="2"] {
  z-index: 2;
  top: 4.94rem;
  left: 5rem;
}
.landingPage__images img[data-number="3"] {
  z-index: 3;
  top: 9.12rem;
  left: 8.49rem;
}

/* ====================================================== */
/*                    End  Landing Page                 */
/* ====================================================== */
/* 
 *
 *
 *
 *
 *
 */
/* ====================================================== */
/*                    Start  Statistics                   */
/* ====================================================== */

.statistics {
  min-height: 140px;
  padding: 25px 0;
  background-color: var(--color-purple);
  color: var(--color-white);
}
.statistics .container {
  display: grid;
  padding: 0 180px;
  place-items: center;
  grid-template-columns: repeat(3, 100px);
  justify-content: space-between;
}
.statistics .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}
.statistics .col .number {
  font-size: 2rem;
  font-weight: 700;
}

.statistics .col .text {
  font-size: 12.98px;
  font-weight: 700;
  line-height: 15.83px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================================================== */
/*                    End  Statistics                     */
/* ====================================================== */
/* 
 *
 *
 *
 *
 *
 */
/* ====================================================== */
/*                    Start WhyUs section                 */
/* ====================================================== */

.whyUs .container {
  padding: 5rem 0;
  position: relative;
}
.whyUs img.arrow {
  position: absolute;
  bottom: -2rem;
  right: 5rem;
  width: 2rem;
}
.whyUs h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  position: relative;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  color: var(--color-violet);
}
.whyUs h2::before {
  content: "";
  height: 3px;
  width: 45%;
  background-color: var(--color-violet);
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
}
.whyUs .cards {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, 351px);
  max-width: 1141px;
  margin-inline: auto;
  gap: 2.5rem;
  justify-content: center;
  margin-top: 5rem;
}

.whyUs .card {
  background-color: var(--color-white);
  border-radius: var(--btn-raduis);
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 1px 3px 0px #0000001a, 0px 5px 5px 0px #00000017,
    0px 11px 7px 0px #0000000d, 0px 20px 8px 0px #00000003,
    0px 32px 9px 0px #00000000;
  transition-property: all !important;
}
.whyUs .card:hover {
  transform: scale(110%) translateY(-1rem) !important;
  box-shadow: 0px 10px 9px 0px #00000072;
}
.whyUs .card img {
  width: 5rem;
  margin-inline: auto;
  margin-bottom: 10px;
}
.whyUs .card .title {
  font-size: 14px;
  color: var(--color-blue);
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.whyUs .card p {
  font-size: 14px;
  letter-spacing: 1.5%;
  line-height: 150%;
  text-transform: capitalize;
}

/* ====================================================== */
/*                    End  WhyUs section                  */
/* ====================================================== */
/* 
 *
 *
 *
 *
 *
 */
/* ====================================================== */
/*                 Start  How Works Section               */
/* ====================================================== */

.howWorks {
  min-height: 537px;
  height: auto;
}
.howWorks .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.howWorks h2 {
  position: relative;
  width: fit-content;
  margin-inline: auto;
}

.howWorks h2 img {
  position: absolute;
  width: 4rem;
  top: -2.5rem;
  right: -4rem;
}
.howWorks .ptitle {
  margin-bottom: 7rem;
}

.howWorks .container .steps {
  width: 100%;
  margin-inline: auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(15.7rem, 1fr));
  gap: 2.5rem;
}
.howWorks .container .step {
  width: 15.70313rem;
  line-height: 22.43px;
}
.howWorks .container .step span {
  font-size: 80px;
  font-weight: bold;
  opacity: 0.5;
  text-align: center;
  text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.39), 5px 1px 5px rgba(0, 0, 0, 0.34),
    10px 3px 6px rgba(0, 0, 0, 0.2), 18px 5px 8px rgba(0, 0, 0, 0.06),
    29px 8px 8px rgba(0, 0, 0, 0.01);
  font-family: "Poppins", sans-serif;
}
.howWorks .step h3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1rem;
}
.howWorks .step p {
  text-align: center;
  font-size: 1rem;
  height: 100px;
}

/* ====================================================== */
/*                 End  How Works section                 */
/* ====================================================== */
/* 
 *
 *
 *
 *
 *
 */
/* ====================================================== */
/*                    start  Footer */
/* ====================================================== */

footer {
  min-height: 424px;
  background-color: var(--color-footer);
  color: var(--color-white);
  margin-top: 100px;
}
footer .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
footer .up {
  display: flex;
  gap: 2rem;
  align-items: center;
}
footer .up .info h3 {
  font-size: 14px;
  text-transform: uppercase;
}

footer .up .info p {
  font-size: 12px;
  text-transform: capitalize;
}
footer .middle {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 100px 200px 220px;
}

footer .middle .title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
footer .middle .socials,
footer .middle .support,
footer .middle .company {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .middle ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
}

footer .middle ul a {
  font-size: 18px;
  color: var(--color-white);
}
footer .middle .socials ul {
  width: 18px;
  gap: 0.7rem;
}

footer .down {
  display: flex;
  justify-content: space-between;
}
footer .down .copyright {
  font-size: 14px;
  color: var(--color-white);
  text-transform: capitalize;
}
footer .down .icons {
  display: flex;
  gap: 1.25rem;
}
footer .down .icons a {
  width: 35px;
}
/* ====================================================== */
/*                    End  Footer                         */
/* ====================================================== */
/* 
 *
 *
 *
 *
 *
 */
/* ====================================================== */
/*                    start  Privacy and Policy           */
/* ====================================================== */

.policy .bigTitle {
  margin-top: 5rem;
  margin-bottom: 6.25rem;
  padding: 3.75rem 0;
  background-color: var(--color-blue);
}
.policy .bigTitle .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.policy .content .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.policy .content .hunk {
  display: flex;
  flex-direction: column;
}
.policy .content .hunk h2 {
  color: var(--color-blue);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  margin-bottom: 2.75rem;
}
.policy .content .hunk p {
  color: var(--color-black);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.0675rem;
}

.policy .content .hunk p .blue {
  color: var(--color-blue);
}

.policy .content .hunk p + p {
  margin-top: 1rem;
}
/* ====================================================== */
/*                 End Privacy and policy                 */
/* ====================================================== */
/* 
 *
 *
 *
 *
 *
 */
/* ====================================================== */
/*                    start of FAQ                        */
/* ====================================================== */
.faq .h2title {
  position: relative;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
}
.faq .faqTitle {
  width: fit-content;
  margin-inline: auto;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.faq .h2title img {
  position: absolute;
  width: 4rem;
  top: -2.5rem;
  right: -4rem;
}
.faq .ptitle {
  text-transform: capitalize;
  color: var(--color-black);
}
.faq .bigTitle {
  margin-top: 5rem;
  margin-bottom: 6.25rem;
  padding: 3.75rem 0;
  background-color: var(--color-blue);
  color: var(--color-white);
}
.faq .bigTitle .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.faq .content .container {
  max-width: 888px;
  background-color: var(--color-white);
  border-radius: var(--form-raduis);
  padding: 4rem 98px 4rem 144px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.3);
}
.faq .content .hunk {
  max-width: 600px;
  cursor: pointer;
}
.faq .content .hunk .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.81rem;
  position: relative;
  transition: var(--transition);
}
.faq .content .hunk .title .icon span {
  position: absolute;
  width: 1rem;
  height: 2px;
  top: 1rem;
  right: -2.5rem;
  background-color: var(--color-purple);
  transition: var(--transition);
  transform: rotate(180deg);
}
.faq .content .hunk .title .icon span:last-child {
  transform: rotate(90deg);
}

.faq .content .hunk.active .title {
  color: var(--color-blue);
}
.faq .content .hunk p {
  margin-bottom: 1.87rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 700ms ease-in-out;
}
.faq .content .hunk.active p {
  max-height: 1000px;
}

.faq .content .hunk.active .title .icon span {
  background-color: var(--color-blue);
  transform: rotate(360deg);
}
/* ====================================================== */
/*                 End of FAQ                             */
/* ====================================================== */
/* 
 *
 *
 *
 *
 *
 */
/* ====================================================== */
/*                 start terms and condition                                                */
/* ====================================================== */
.terms .bigTitle {
  margin-top: 5rem;
  margin-bottom: 6.25rem;
  padding: 3.75rem 0;
  background-color: var(--color-blue);
}
.terms .bigTitle .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.terms .content .container {
  display: flex;
  gap: 3%;
}
.terms nav {
  width: 40%;
}
.terms nav ul {
  display: flex;
  flex-direction: column;
  gap: 54px;
}
.terms nav a {
  font-size: 1.5rem;
  transition: var(--transition);
  text-transform: capitalize;
}
.terms nav a:hover {
  color: var(--color-blue);
  font-weight: bold;
}
.terms .info {
  width: 57%;
  /* height: 5000px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.terms .info .hunk {
  display: flex;
  flex-direction: column;
}
.terms .info .hunk h2 {
  color: var(--color-blue);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  margin-bottom: 2.75rem;
}
.terms .info .hunk p {
  color: var(--color-black);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.0675rem;
  padding-left: 2rem;
  background-color: green;
}

.terms .info .hunk p + p {
  margin-top: 1rem;
}
.terms .info .hunk ul li {
  background-color: red;
  color: var(--color-black);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.0675rem;
  padding-left: 2rem;
}
/* ====================================================== */
/*                  End terms and condition                                                       */
/* ====================================================== */
/* 
 *
 *
 *
 *
 *
 */
/* ====================================================== */
/*                                                      */
/* ====================================================== */
/* 
=
=
=
=
=
=
=
=
*/
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*                    Medium SCREEN                         */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
@media screen and (max-width: 1024px) {
  /* =========  GENERAL ========== */
  .container {
    width: var(--container-width-md);
  }
  /* =========  End  GENERAL ========== */
  /* =========  start Header ========== */
  header .container {
    position: relative;
  }
  header .buttons {
    display: none;
  }

  #open__items-btn:hover {
    color: var(--color-purple);
  }

  #open__items-btn {
    display: block;
    transform: rotate(90deg);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
    transition: var(--transition);
    padding: 1rem;
  }
  #open__items-btn span {
    pointer-events: none;
  }
  #open__items-btn.active span {
    color: var(--color-blue);
  }

  #nav__items {
    display: flex;
    position: absolute;
    top: 0;
    right: -100vw;
    background-color: var(--color-background);
    gap: 3.44rem;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 90000;
    box-shadow: -1px 7px 7px var(--color-gray);
    padding-top: 2rem;
    transition: var(--transition);
  }

  #nav__items > li > a {
    color: var(--color-black);
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  #nav__items > li > a i {
    display: none;
  }

  .close__items-btn {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    color: var(--color-blue);
    background: none;
    cursor: pointer;
    transition: var(--transition);
  }
  .close__items-btn i {
    font-size: 2rem;
  }

  .close__items-btn:hover {
    color: var(--color-purple);
  }

  #nav__items .logo {
    display: block;
  }

  #nav__items.active {
    right: 0;
  }
  #certificateLink {
    display: block;
  }
  #certificateLink div {
    position: relative;
    display: flex;
    flex-direction: row;
    color: var(--color-black);
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
    pointer-events: none;
  }
  #certificateLink div i {
    color: var(--color-black);
    width: 20px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    transition: var(--transition);
    /* margin-right: 1.5rem; */
    pointer-events: none;
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  .l2list {
    margin-top: 1.5rem;
    background-color: var(--color-background);
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-inline: auto;
  }

  .l2list li a {
    text-transform: uppercase;
    transition: var(--transition);
  }
  .l2list li:hover a {
    color: var(--color-blue);
  }
  /* =========  End  Header ========== */

  /* =========  start LandingPage ========== */
  .landingPage {
    padding-top: 0rem;
    height: 47.125rem;
  }

  .landingPage .container {
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 23rem 3.25rem 7rem;
    column-gap: 0;
    text-align: center;
  }
  .landingPage h1 {
    line-height: 40.51px;
    font-size: 2.5rem;
  }

  .landingPage h1 img {
    display: none;
  }
  .landingPage p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .landingPage .btn {
    margin-inline: auto;
  }
  .LearnMore {
    margin-inline: auto;
  }
  .landingPage__images {
    grid-column: 1/ 2;
    grid-row: 2 / 3;
    overflow: hidden;
  }
  .landingPage__images img {
    height: 20rem;
    width: fit-content;
    border: none;
  }

  .landingPage__images img[data-number="1"] {
    top: 0;
    left: 100%;
    width: 100%;
  }
  .landingPage__images img[data-number="3"] {
    top: 0;
    left: 0;
    width: 100%;
  }
  .landingPage__images img[data-number="2"] {
    top: 0;
    left: -100%;
    width: 100%;
  }
  .landingPage .LearnMore {
    /* display: none; */
  }

  .landingPage button.btn {
    /* display: block; */
  }
  /* =========  End  LandingPage ========== */
  /* =========  Start  Statistics ========== */
  .statistics .container {
    padding: 0 50px;
  }
  /* =========  End Statistics ========== */

  /* =========  Start howWorks ========== */

  .howWorks .container {
    padding-left: 0;
    padding-right: 0;
  }

  .howWorks h2 img {
    display: none;
  }
  /* =========  End howWorks ========== */

  /* =========  START Footer ==========*/
  /* =========  End Footer ==========*/

  /* =========  START FAQ ==========*/
  .faq .h2title img {
    display: none;
  }
  .faq .content .container {
    padding: 4rem 18px 4rem 50px;
  }

  .faq .content .hunk {
    max-width: 100%;
    width: calc(100% - 3rem);
  }
  .faq .content .hunk .title .icon span {
    right: -2rem;
  }
  /* =========  End FAQ ==========*/
  /* =========  Start Terms==========*/
  .terms nav {
    display: none;
  }
  .terms .info {
    width: 100%;
  }
  /* =========  End Terms==========*/
}
/* 
=
=
=
=
=
=
=
=
*/
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/*                    Small SCREEN                         */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
@media screen and (max-width: 600px) {
  /* start general */
  .container {
    width: 94%;
    /* padding: 1rem; */
  }
  /* end general */
  /* start components */
  .bigTitle h1 {
    font-size: 2rem;
  }
  .bigTitle h1 img {
    width: 3rem;
    left: -3rem;
    display: none;
  }
  .hideInMobile {
    display: none;
  }
  /* end components */
  /* start landing page*/
  .landingPage h1 {
    font-size: 1.8rem;
  }
  .landingPage p {
    width: 80%;
    margin-inline: auto;
  }
  /* end landing page*/

  /* start statistics */
  .statistics .container {
    grid-template-columns: 100px;
    justify-content: center;
    gap: 2rem;
  }
  /* end statistics */

  /* whyUs SECTION  */
  .whyUs img.arrow {
    display: none;
  }
  /* whyUs SECTION  */

  /* Footer Start */
  footer .up {
    align-items: flex-start;
    flex-direction: column;
  }
  footer .middle {
    grid-template-columns: 1fr;
    gap: 2.75rem;
  }

  footer .down {
    flex-direction: row-reverse;
  }
  footer .down .icons {
    gap: 1rem;
  }

  /* Footer End*/

  /* policy start  */
  .policy .content .hunk h2 {
    font-size: 2rem;
  }
  .policy .content .hunk p {
    font-size: 1rem;
  }
  /* policy end*/
  /* faq start*/
  .faq .content .container {
    padding: 4rem 1rem;
  }

  .faq .content .hunk {
    width: 100%;
  }
  .faq .content .hunk .title .icon {
    display: none;
  }
  /* faq end*/
}
